<html>
    <link rel="stylesheet" href="/static/style.css">
<head>Item</head>
<body>



<form method="POST">
    <table>
        <tr>
            <td>{{form.id.label}}</td>
            <td>{{form.id}}</td>
        </tr>
        <tr>
            <td>{{form.indirizzo.label}}</td>
            <td>{{form.indirizzo}}</td>
        </tr>
        <tr>
            <td>{{form.cap.label}}</td>
            <td>{{form.cap}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Send"></td>
        </tr>
     </table>
</form>

</html>